<section class="h-screen flex items-center justify-center">
    <div class="w-3/6 h-2/4  flex  justify-center shadow-lg">
        <form ngDefaultControl [formGroup]="reactiveForm" (ngSubmit)="onSubmit()" class="flex flex-col w-3/6 ">
            <h3 class="font-serif font-normal text-3xl border-red">Login</h3>

            <div  formGroupName="details">

                <div class="flex flex-col">
                    <input class=" outline-0 mb-6 h-9  placeholder:pl-3  placeholder:italic
                border-b border-solid border-black border-0" type="email" name="email" placeholder="Enter your email"
                        formControlName="email">
                    <small style="color: #ff0000;"
                        *ngIf=" reactiveForm.get('details.email').errors && reactiveForm.get('details.email').errors['required']">
                        Email is required</small>
                    <small style="color: red;"
                    *ngIf=" reactiveForm.get('details.email').errors && reactiveForm.get('details.email').errors['isEmailError']">
                    Fuck you</small>
                </div>

                <div class="mt-5 flex flex-col ">
                    <input class=" outline-0 mb-6 h-9  placeholder:pl-3  placeholder:italic border-b
                border-solid border-black border-0" type="password" name="password" placeholder="Enter your passwod"
                        formControlName="password">

                    <small style="color: red;"
                        *ngIf=" reactiveForm?.get('details.password').value && !reactiveForm?.get('details.password').valid">
                        Password is not valid
                    </small>
                </div>

            </div>

            <!-- <label for="passwod">Password</label> -->








            <!-- <label class="mb-3" for="email">Email</label> -->


            <input class=" outline-0 w-1/5 h-8 rounded-lg bg-gray-200 font-light
             border-none placeholder:font-mono shadow-md" type="submit" value="Submit" >
        </form>

    </div>




</section>