<div class="box-border mx-auto w-2/4 pt-8 h-[700px] shadow-2xl flex justify-center">
    <div >
      <h3 class="text-center">
        Add Task
      </h3>
      <div class="box-border pt-3 h-[600px] ">
          <form class="flex justify-center gap-1 h-[30px]"  (ngSubmit)="onSubmit()">
            <input class=" rounded-sm border-gray-400  w-4/5" type="text" [(ngModel)] = "title" id="name" name="name" placeholder=" Add task">
            <button class="rounded-sm" type="submit" >Add</button>
          </form>
  
  
        <div class=" w-[454px]" >
  
          <ul  *ngFor="let item of arr"  class="flex justify-start list-none p-0 ">
            <li  class="w-[415px] ml-5 mb-1">
              <div  class=" border border-solid border-black
               rounded-sm h-[25px] ">
               <div  class="flex h-full items-center justify-between ">
                <div class="ml-3">
                  {{item.title}}
                </div>
                <button (click)="navigateToSubtask(item.id)" class="h-[28px] relative left-[5px] bottom-[1px] rounded-lg">show sub-tasks</button>
               </div>
               <!-- <button>show sub-tasks</button> -->
  
              </div>
            </li>
  
          </ul>
        </div>
  
  
  
  
      </div>
  
    </div>
    <!-- <div class=" half-width">
  
  <app-sub-task [task] = "childSubtask()" (outputFromChild) = "receiveChildData($event)"></app-sub-task>
    </div> -->
  </div>