
<div class="box-border mx-auto w-2/4 pt-8 h-[700px] shadow-2xl">
  <div class="inline-block half-width ">
    <h3 class="text-center">
      Add Task
    </h3>
    <div class="box-border flex flex-col pt-3 h-[600px] ">
      <input class="w-3/4 " type="text" id="name" name="name" placeholder=" Add task">
      <button  class=" rounded-md ">hey</button>
       

    </div>
  </div>
  <div class="inline-block half-width">
    <h3 class="text-center">
      Add Subtask
    </h3>
    <div class="box-border  pt-3 h-[600px] ">
      yo

    </div>

  </div>
</div>