<div class="box-border mx-auto w-2/4 pt-8 h-[700px] shadow-2xl">
  <div class="inline-block half-width ">
    <h3 class="text-center">
      Add Task
    </h3>
    <div class="box-border pt-3 h-[600px] ">
      <div class="flex justify-center gap-2 h-[30px]">
        <input class="w-3/4 rounded-md " type="text" id="name" name="name" placeholder=" Add task">
        <button class=" rounded-md ">Add</button>
      </div>

      <div class="">

        <ul class="list-none p-0  ">
          <li class="w-[405px] ml-7 mb-5 ">
            <div class="border border-solid border-black
             rounded-md h-[25px] ">
              YOOO
            </div>
          </li>
          <li class="w-[405px] ml-7 mb-5">
            <div class="border border-solid border-black
             rounded-md h-[25px] ">
              YOOO
            </div>
          </li>
          <li class="w-[405px] ml-7 ">
            <div class="border border-solid border-black
             rounded-md h-[25px] ">
              YOOO
            </div>
          </li>
        </ul>
      </div>




    </div>

  </div>
  <div class="inline-block half-width">
    <h3 class="text-center">
      Add Subtask
    </h3>
    <div class="box-border  pt-3 h-[600px] ">
      yo

    </div>

  </div>
</div>