<section class="flex justify-center items-center min-h-screen">
    <div class="box-border w-500px">
        <div>
            <h1>Sign UP</h1>
        </div>
        <div>
            <form action="">
                <div class="flex gap-10">
                    <input type="text">
                    <input type="text">
                </div>
                <div class="w-full ">
                    <input class="w-full" type="text">
                </div>
                <div>
                    <input type="text">
                </div>
                <div>
                    <input type="text">
                </div>
                <div>
                    <input type="text">
                </div>
            </form>
        </div>

    </div>
</section>