<section class="flex justify-center items-center min-h-screen">
    <div class="box-border w-[700px] shadow-xl">
        <div class="text-center font-mono font-medium text-blue-600">
            <h1>Registration</h1>
        </div>
        <div class="px-14 pb-12 ">
            <form [formGroup]="mySignupForm" (ngSubmit)="onSubmit()" >
                <div formGroupName="name" class="flex gap-20 w-full my-9 ">
                    <input class=" font-mono  w-1/2 h-11  border-0 outline-none pl-3 text-base" 
                    id="firstName"
                    name="firstName"
                    formControlName="firstName"
                    placeholder="first name" type="text"> 
                    <input class=" font-mono w-1/2 h-11  border-0 border-solid outline-none text-base  pl-3 "
                    id="lastName"
                    name="lastName"
                    formControlName="lastName"

                     placeholder="last name" type="text">
                </div>
                <div class="w-full my-9">
                    <input class=" font-mono   border-0 h-11  w-98.5 pl-3 outline-none text-base" 
                    placeholder="email"
                    formControlName="email"
                    type="email">
                    <div *ngIf="mySignupForm.get('email').touched && mySignupForm.get('email').hasError('required')  then emailRequired "></div>
                    <div *ngIf="mySignupForm.get('email').touched && mySignupForm.get('email').hasError('email')  then validEmail "></div>
                </div>
                <div class="my-9 w-full">
                    <input class=" font-mono  border-0 h-11  w-98.5  pl-3 outline-none text-base"
                    formControlName="phone"
                     placeholder="phone" type="number">
                     <div *ngIf="mySignupForm.get('phone').touched && mySignupForm.get('phone').invalid  then validPhone "></div>
                    
                </div>
                <div class="my-9 w-full">
                    <input class=" font-mono   border-0 h-11  w-98.5 outline-none  pl-3 text-base"
                    formControlName="country"
                     placeholder="country" type="text">
                </div>
                <div class="mb-9 w-full">
                    <input class="font-mono  border-0 h-11  w-98.5 outline-none  pl-3 text-base"
                    formControlName="password"
                    placeholder="password" type="password">
                </div>
                <div class="text-center my-4">
                    <button  class=" hover:bg-black p-2 h-9 w-1/5 rounded-2xl border-none bg-blue-600 text-white font-bold"
                      type="submit">
                      Submit
                    </button>
                  </div>
            </form>
        </div>
        <div class="flex justify-center pb-6">
            <span class="font-medium font-mono text-blue-600">
              already have an Account?
              <a routerLink="/">Login</a>
            </span>
          </div>

    </div>
</section>


<ng-template #emailRequired>
    <p class="my-4 text-base font-medium tracking-wider text-red-500">email is a reuiqred field</p>
  </ng-template>

  <ng-template #validEmail>
    <p class="my-4 text-base font-medium tracking-wider text-red-500">please provide valid email</p>
  </ng-template> 
   <ng-template #validPhone>
    <p class="my-4 text-base font-medium tracking-wider text-red-500">please provide valid phone no</p>
  </ng-template>
  
  <ng-template #noMessageTemplate>
  </ng-template>